#title {
  margin-left: 15px;
  margin-top: 10px;
}

.ratings {
  padding: 5% 1% 0;
  position: relative;
  bottom: 30px;
}

h1 {
  color: hsl(300, 43%, 22%);
  font-weight: bold;
  line-height: 1;
  padding: 5% 1% 0;
  margin-left: 80px;
}

#rating {
  background-color: hsl(300, 24%, 96%);
  padding: 1%;
  display: inline-block;
  width: 400px;
  height: 40px;
  margin: 10px 0;
}
.rating-two{
position: relative;
left: 40px;
}
.rating-three{
position: relative;
left: 80px;
}

.sub-header {
  line-height: normal;
  padding-top: 1%;
  margin-left: 80px;
}

#cards {
  margin-top: 50px;
  margin-left: 15px;
}

.name-card-1 {
  display: inline-block;
  width: 330px;
  height: 230px;
  background-color: hsl(300, 43%, 22%);
  border: 1px solid;
  border-color: black;
  border-radius: 5%;
  margin-left: 80px;
  margin-top: 45px;

}
.name-card-2 {
  display: inline-block;
  width: 330px;
  height: 230px;
  background-color: hsl(300, 43%, 22%);
  border: 1px solid;
  border-color: black;
  border-radius: 5%;
  margin-left: 80px;
  margin-top: 45px;
  position: relative;
  top:35px;
}
.name-card-3 {
  display: inline-block;
  width: 330px;
  height: 230px;
  background-color: hsl(300, 43%, 22%);
  border: 1px solid;
  border-color: black;
  border-radius: 5%;
  margin-left: 80px;
  margin-top: 45px;
  position: relative;
  top:70px;
}

.quotes {
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: lighter;
  line-height: normal;
  position: relative;
  top: 20px;
  text-align: center;
}

img {
  position: relative;
  top: 20px;
  border-radius: 50%;
  float: left;
  width: 45px;
  height: 45px;
}

.name {
  position: relative;
  left: 40px;
  top: 20px;
  color: hsl(0, 0%, 100%);
}

span {
  color: hsl(333, 80%, 67%);
  font-weight: lighter;
  line-height: normal;
}
